/* Created By Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #27396b, #4070f4);
}

.accordion {
  width: 90vw;
  max-width: 500px;
}

.accordion-item {
  background: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-item input[type="checkbox"] {
  display: none;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  cursor: pointer;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .accordion-header {
  color: #4070f4;
}

.accordion-header .arrow {
  display: inline-block;
  font-size: 25px;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .accordion-header .arrow {
  transform: rotate(-180deg);
}

.accordion-content {
  font-size: 15px;
  color: #606060;
  text-align: justify;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .accordion-content {
  max-height: 200px;
}
